doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='col-sm-10')
    if (user)
      p(style="  position: absolute; right: 0;") Logged in as #{user.username} &emsp;  #[a(href="/log-out") Logout]
    else
      p please log in
      form(action="/login", method="post") 
        label(for="username") Username 
        input#username(type="text", name="username")
        label(for="password") password 
        input#password(type="password", name="password")
        button(type="submit") Log in
    block content
