extends layout 
block content
  h1 Signup 
  form(action="", method="post") 
    label(for="name") Name
    input#name(type="text", name="name")
    label(for="surname") Surname
    input#surname(type="text", name="surname")
    label(for="username") Username
    input#username(type="username", name="username")
    label(for="email") Email
    input#email(type="email", name="email")
    label(for="password") Password
    input#password(type="password", name="password")
    label(for="active") Is Active
    input#active(type="checkbox", name="active")
    button(type="submit") Sig up